.book-detail{
    display: flex;
    font-size: 14px;
    .first-child {
        margin: 10px;
    }
    .title {
        text-align: center;
        font-size: 20px;
    }
    .cover {
        text-align: center;    
        margin-top: 10px;    
        img {
            max-width: 200px;
        }
    }
}