.book-detail{
    display: flex;
    .first-child {

    }
    .title {
        text-align: center;
    }
    .cover {
        text-align: center;        
        img {
            max-width: 400px;
        }
    }
}