.card {
    flex-basis: 20em; //responsive
    max-width: 400px;
    max-height: 200px;
    cursor: pointer;
    text-align: center;
    
    img {
        max-width: 100px;
        max-height: 200px;
      }
  } 